* {
    font-family: "Arial", sans-serif;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(40,0,102,1) 34%, rgba(156,0,0,1) 100%);
}

#content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#header {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid black;
}

#header * {
    display: flex;
    justify-content: center;
}

.input {
    margin-bottom: 20px;
    padding-top: 10px;
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 5px;
}

#login-form {
    margin: auto;
    padding: 20px;
    background-color: white;
    border: 2px solid aliceblue;
    border-radius: 10px;
}

#login-form button {
    padding: 10px;
    width: 100%;
    background-color: aliceblue;
    border: 0;
    border-top: 2px solid;
    border-radius: 5px;
}

#login-form a {
    font-size: medium;
}

#msgbox {
    margin-top: auto;
    align-self: flex-start;
    font-size: small;
    background-color: salmon;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}